@import "toastr";

body {
    width: 400px;
    height: 320px;

    margin: 0;
    padding: 0;

    font-family: sans-serif;
    font-size: 14px;
    border-radius: 5px;
}

#app {
    transition: height 0.2s ease-in-out;
    height: 100%;
    overflow: hidden;

    .container {
        background-color: var(--background);
        border: 1px solid var(--background);
        color: var(--color);
        display: grid;

        height: 100%;

        grid-template-rows: auto auto auto;

        .header,
        .footer {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;

            margin: 0 5px;
            -webkit-user-select: none;
            user-select: none;
            padding: 5px;

            .right {
                justify-self: flex-end;
            }
        
            .left {
                justify-self: flex-start;
            }
        
            .center {
                justify-self: center;
            }
        }

        .header {
            border-bottom: 1px solid var(--border);

            margin-right: 2px;

            .title {
                font-size: 1.2rem;
                text-transform: uppercase;
                margin: 0;
                text-align: center;

                .bold {
                    font-weight: bolder;
                }
                
                .light {
                    font-weight: lighter;
                }
        
                .pro {
                    color: var(--active);
                    font-size: 0.6em;
                    padding-left: 3px;
                }
            }

            .close i::before {
                margin: 0;
            }
        }

        .footer {
            border-top: 1px solid var(--border);

            color: var(--color-light);
            font-size: 0.8rem;
            font-weight: lighter;

            .author {
                cursor: pointer;
            }
        }
    }
}