.fmg-tooltip {
    position: relative;
    padding: 2px;
    margin-right: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.hover {
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            background: var(--tooltip);
            border-radius: 5px;
            width: calc(100% - 10px);
            left: 0;
            z-index: 20;
            padding: 5px;
            pointer-events: none;
            border: 1px solid var(--border);
        }

        &:not(.top)::after {
            bottom: 0;
            transform: translateY(100%);
        }

        &.top::after {
            top: 0;
            transform: translateY(-100%);
        }
    }
}