.settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 5px;
}

.option {
    display: flex;
    align-items: center;
    border-radius: 5px;
    // margin: 5px;
    background: var(--item);
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color);

    span {
        color: inherit;
    }

    .toggle-button-cover {
        display: flex;
        position: relative;
        width: 40px;
        height: 5px;
        margin: 15px 10px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .button.r {
        position: relative;
        width: 100%;
        height: 18px;

        &, .layer {
            border-radius: 100px;
        }

        .knobs,
        .layer {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }

        input {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
        }

        .knobs {
            z-index: 2;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0%;
                aspect-ratio: 1;
                height: 100%;
                width: auto;
                line-height: 1;
                background-color: var(--checkbox-text);
                border-radius: 50%;
                transform: translateY(-50%);
                transition:
                    0.3s ease all,
                    left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
            }
        }

        .layer {
            width: 100%;
            top: 2px;
            height: calc(100% - 4px);
            background-color: var(--checkbox);
            transition: 0.3s ease all;
            z-index: 1;
        }

        input:checked + .knobs:before {
            content: "";
            left: calc(80%);
            transform: translate(-50%, -50%);
            background-color: var(--active);
        }
    }
}